<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- 自定义属性 -->
    <springProperty name="MAX_HISTORY" scope="context" source="logback.max-history" defaultValue="7"/>
    <springProperty name="MAX_FILESIZE" scope="context" source="logback.file-size" defaultValue="200MB"/>

    <!--配置变量-->
    <property name="LOG_HOME_PATH" value="logs/"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%green(%date{yyyy-MM-dd HH:mm:ss}){faint} | %highlight(%-5level) | %yellow(%thread)| %green(%logger{50}) : %cyan(%msg%n)"/>

    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss}| [%thread] |%X{reqId} %-5level| %logger{50:%L}  : %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- DEBUG appender  -->
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME_PATH}/debug/debug-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <MaxFileSize>${MAX_FILESIZE}</MaxFileSize>
            <MaxHistory>${MAX_HISTORY}</MaxHistory>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>


    <!-- INFO appender  -->
    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME_PATH}/info/info-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <MaxFileSize>${MAX_FILESIZE}</MaxFileSize>
            <MaxHistory>${MAX_HISTORY}</MaxHistory>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>


    <!-- WARN appender  -->
    <appender name="WARN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME_PATH}/warn/warn-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <MaxFileSize>${MAX_FILESIZE}</MaxFileSize>
            <MaxHistory>${MAX_HISTORY}</MaxHistory>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>


    <!-- ERROR appender  -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME_PATH}/error/error-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <MaxFileSize>${MAX_FILESIZE}</MaxFileSize>
            <MaxHistory>${MAX_HISTORY}</MaxHistory>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="com.example.data" level="DEBUG"/>


    <springProfile name="test,dev" source="">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="INFO_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
            <appender-ref ref="WARN_FILE"/>
            <appender-ref ref="DEBUG_FILE"/>
        </root>
    </springProfile>

    <springProfile name="online" source="">
        <root level="INFO">
            <appender-ref ref="INFO_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
            <appender-ref ref="WARN_FILE"/>
            <appender-ref ref="DEBUG_FILE"/>
        </root>
    </springProfile>


</configuration>
